In [ ]:
!pip install turicreate

In [88]:
import numpy as np 
import pandas as pd
import re
from sklearn.naive_bayes import MultinomialNB as mnb
from sklearn.model_selection import train_test_split as ttf
from sklearn.feature_extraction.text import CountVectorizer as cv
from sklearn.preprocessing import LabelEncoder as lc

In [80]:
raw_df = pd.read_csv("Information.csv",encoding="latin-1")
raw_df.tail()

        _unit_id  _golden  ...      tweet_location  user_timezone
20045  815757572     True  ...          Verona ªÁ            NaN
20046  815757681     True  ...     Kansas City, MO            NaN
20047  815757830     True  ...      Lagos Nigeria             NaN
20048  815757921     True  ...  Texas Hill Country            NaN
20049  815757985     True  ...                 NaN            NaN

[5 rows x 26 columns]

In [82]:
raw_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20050 entries, 0 to 20049
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   _unit_id               20050 non-null  int64
 1   _golden                20050 non-null  bool
 2   _unit_state            20050 non-null  object
 3   _trusted_judgments     20050 non-null  int64
 4   _last_judgment_at      20000 non-null  object
 5   gender                 19953 non-null  object
 6   gender:confidence      20024 non-null  float64
 7   profile_yn             20050 non-null  object
 8   profile_yn:confidence  20050 non-null  float64
 9   created                20050 non-null  object
 10  description            16306 non-null  object
 11  fav_number             20050 non-null  int64
 12  gender_gold            50 non-null     object
 13  link_color             20050 non-null  object
 14  name                   20050 non-null  object
 15  profile_yn_gold        50 non-null     object
 16  profileimage           20050 non-null  object
 17  retweet_count          20050 non-null  int64
 18  sidebar_color          20050 non-null  object
 19  text                   20050 non-null  object
 20  tweet_coord            159 non-null    object
 21  tweet_count            20050 non-null  int64
 22  tweet_created          20050 non-null  object
 23  tweet_id               20050 non-null  float64
 24  tweet_location         12566 non-null  object
 25  user_timezone          12252 non-null  object
dtypes: bool(1), float64(3), int64(5), object(17)
memory usage: 3.8+ MB

In [14]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [30]:
stopwards_inc = set(stopwords.words("english")+list(punctuation))

In [84]:
def tweet_processor(text):
  tweet = re.sub('((www\.[^\s]+)|(https?://[^\s]+))','URL',text.lower())
  tweet = re.sub('@[^\s]+','TAGEDUSER',tweet)
  tweet = wt(tweet)
  return " ".join([w for w in tweet if w not in stopwards_inc])
raw_df["processed"] = raw_df["text"].apply(tweet_processor)

In [85]:
raw_df["processed"]

0        robbie e responds critics win eddie edwards wo...
1        ûïit felt like friends living story themû U...
2        absolutely adore louis starts songs hits hard ...
3        hi TAGEDUSER looking url use TAGEDUSER n't typ...
4        watching neighbours sky+ catching neighbs xxx ...
                               ...
20045                TAGEDUSER ... fine 'll drink tea love
20046    greg hardy good player n't get face dez bryant...
20047                     miss people still never want see
20048    TAGEDUSER noticed tendency pee carpet n't want...
20049    think apush creative project 'm going bring ba...
Name: processed, Length: 20050, dtype: object

In [113]:
x = cv().fit_transform(raw_df["processed"].tolist())
y = lc().fit_transform(raw_df['gender'].tolist())
x_train, x_test, y_train, y_test = ttf(x, y, test_size=0.3)

In [114]:
mnb_inc=mnb().fit(x_train, y_train)

In [115]:
print(mnb_inc.score(x_test, y_test))

0.5148794679966749

In [107]:
mnb_inc.

array([0, 1, 2, 3, 4])

In [19]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [32]:
df["processed"] = df[~df.gender.isnull()].text.apply(tweet_processor)

In [22]:
#tfidf vectorisation
from sklearn.feature_extraction.text import TfidfVectorizer as tfv
from sklearn.model_selection import train_test_split as ttf

In [ ]:
vector = tfv(sublinear_tf=True)
vector.fit(np.array(df.iloc[:,3]).ravel())
X = vector.transform(np.array(df.iloc[:,3]).ravel())
Y = np.array(df.iloc[:,0]).ravel()

In [ ]:
X_train,X_test,Y_train,Y_test = ttf(X,Y,test_size=0.25,random_state=0)

model training

In [23]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [ ]:
NB_model = MultinomialNB()
NB_model.fit(X_train,Y_train)

In [ ]:
nb_pred = NB_model.predict(X_test)

In [ ]:
accuracy_score(Y_test,nb_pred)

In [ ]:
LR_model = LogisticRegression(solver="lbfgs")
LR_model.fit(X_train,Y_train)

In [ ]:
lr_pred = LR_model.predict(X_test)

In [ ]:
accuracy_score(Y_test,lr_pred)

In [ ]:
LR_model.coef_

In [ ]:
from

In [26]:
raw_df = pd.read_csv("Information.csv",encoding="latin-1")

In [27]:
female = raw_df[raw_df["gender"]=="female"].copy()
male = raw_df[raw_df["gender"]=="male"].copy()
df = female.append(male).sample(frac=1).reset_index()
df = raw_df[["gender","text"]].copy()
df

       gender                                               text
0        male  Robbie E Responds To Critics After Win Against...
1        male  ÛÏIt felt like they were my friends and I was...
2        male  i absolutely adore when louis starts the songs...
3        male  Hi @JordanSpieth - Looking at the url - do you...
4      female  Watching Neighbours on Sky+ catching up with t...
...       ...                                                ...
20045  female  @lookupondeath ...Fine, and I'll drink tea too...
20046    male  Greg Hardy you a good player and all but don't...
20047    male  You can miss people and still never want to se...
20048  female  @bitemyapp i had noticed your tendency to pee ...
20049  female  I think for my APUSH creative project I'm goin...

[20050 rows x 2 columns]

In [24]:
from string import punctuation
from nltk.corpus import stopwords
from nltk import word_tokenize
from nltk.corpus import reuters

In [25]:
import nltk
from nltk.tokenize import word_tokenize as wt
from nltk.tokenize import sent_tokenize as st
from nltk.corpus import stopwords
from string import punctuation

In [33]:
df.head()

   gender  ...                                          processed
0    male  ...  robbie e responds critics win eddie edwards wo...
1    male  ...  ûïit felt like friends living story themû U...
2    male  ...  absolutely adore louis starts songs hits hard ...
3    male  ...  hi TAGEDUSER looking url use TAGEDUSER n't typ...
4  female  ...  watching neighbours sky+ catching neighbs xxx ...

[5 rows x 3 columns]

In [39]:
df.to_csv("processsed.csv")

In [36]:
import turicreate

In [41]:
df = turicreate.SFrame.read_csv("processsed.csv")

Finished parsing file /content/processsed.csv

Parsing completed. Parsed 100 lines in 0.129072 secs.

------------------------------------------------------
Inferred types from first 100 line(s) of file as
column_type_hints=[int,str,str,str]
If parsing fails due to incorrect types, you can correct
the inferred type list above and pass it to read_csv in
the column_type_hints argument
------------------------------------------------------

Finished parsing file /content/processsed.csv

Parsing completed. Parsed 19953 lines in 0.076684 secs.

In [42]:
df["word_count"] = turicreate.text_analytics.count_words(df["processed"])

In [46]:
df['tfidf'] = turicreate.text_analytics.tf_idf(df["word_count"])

In [ ]:
knn_model = turicreate.logistic_classifier.create(df,features="tfidf",target="gender")

In [118]:
tfidf = {}
df["tfidf"].apply(lambda x:tfidf.update(x))
tfidf = pd.DataFrame.from_dict(tfidf,orient="index")
tfidf.sort_values(by=0,ascending=False)

                   0
ù÷â        60.267186
unbrick    19.802270
mcd        19.802270
ù÷ä        18.636766
scum       18.415975
...              ...
n           2.515284
s           2.241020
get         2.194522
tageduser   1.101322
url         1.000586

[665 rows x 1 columns]

In [60]:
tfidf_female = {}
df[df["gender"]=="female"]["tfidf"].apply(lambda x:tfidf_female.update(x))

dtype: float
Rows: 19953
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, ... ]

In [76]:
male_words = pd.DataFrame.from_dict(tfidf_male,orient="index")
male_words.sort_values(by=0,ascending=False)

                   0
ùôà        25.544521
ù÷â        20.089062
unbrick    19.802270
bluewater  19.802270
colt       17.605045
...              ...
n           2.515284
s           2.241020
tageduser   2.202645
get         2.194522
url         1.000586

[681 rows x 1 columns]